body{
    box-sizing: inherit;
    height: 100%;
    width: 100%;
    margin: 0px;    
}
.right-header{
    z-index: 5;
    margin: 0px;
    width: 200px;
    height: 100vh;
    background-color: #3C6E71;
    position: fixed;    
    text-align: center;
}
.right-header ul { 
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.right-header ul li{
    border-bottom: 3px solid #353535;
    
    padding: .5em;
    margin: 0px;
}
.right-header ul li a {
    text-decoration: none;
    color: white;;
}
.logo{
    max-width: 150px;
    max-height: 150px;      
    margin: auto;
    padding-top: 20px;
    display: block;

}
.right-header ul li:hover {
    background-color: #353535;
}
.admin{
    
    border-top: 3px solid #353535;
}

#admin-icon{
    margin-right: 20px;
}
.top-header{       
    position: absolute;
    top: 0;
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif; 
    width: 75%;       
    top: 0;
}

.penro-logo{
    
    max-width: 100px;
    max-height: 100px;
    float: right;   
}
hr{
    border: 3px solid black;
    margin: 0;
}

.top-header a{
    display: inline-block;
    margin-right: 2em;
    padding: 1em;
    margin: 0em;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.top-header a:hover{
    background-color: #353535;
    border-radius: 0em 0em 1em 1em;
    color: white;
}

/* DROPDOWN */

#dropdown {
    position: relative;
    display: inline-block;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #353535;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 1em;
    z-index: 1;
  }
  
  #dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;    
  }
  
  #dropdown-content a:hover {
    background-color: #3C6E71;
    border-radius: 1em;
    
}

#dropdown:hover #dropdown-content {
  display: block;
}
/* content area */

.content{
   position: absolute;
   padding: 2em;
    top:200px;
    left: 250px;
    width:70%;    
    background-color: rgba(111, 158, 98, 0.463);
    overflow: hidden;    
    font-family: Arial, Helvetica, sans-serif;
}

/* report */

.butterfly,#admin,#report-menu{
    background-color: #353535;    
}

#home,#matrix,#statistics,#butterfly,#application,#profile{
    background-color: #353535;
    border-radius: 0em 0em 1em 1em;
    color: white;
}
.line-dot{
    border: 1px;
}


table {
    border-spacing: 0px;
    margin: auto;
    margin-top: 5%;
    font-family: sans-serif;
    border-radius: 2em;
    
}
table th{
    border: 1px solid #000000;
    padding: 1em;    
    font-weight: bold;
    background-color: #284B63;
    color: white;
    
    
}
table td{
    border: 1px solid #000000;
    padding: 1em;   
    font-weight: bold;
    background-color: #D9D9D9;
    color: black;
    
    
}

.table-div{
    margin: 0;
    margin-bottom: 5em;
    margin-top: 3em;
}
.report-table
{
    margin-bottom: 10em;
    width: 850px;
    height: 400px;
    overflow:scroll;    
    margin: auto;
}

.report form table input,
#search-bar,
.amount{
    background-color: #D9D9D9;
    border: none;
    border-radius: 1em;
    padding: .5em;
    

}
.report form table button{
    padding: 1em 1em;
    border: none;
    border-radius: .5em;
    color: white;
    font-weight: bold;
    background-color: #353535;
    
}
#filter:hover{
    background-color: #9D8401;
    
    
}

#view-doc{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1em;
  background-color:#353535;
  border-radius: 1em;
}



#view-doc:hover{
    background-color: #027A00;
}

.report form table tr th{
    border: none;
    background-color: rgba(113, 70, 70, 0);
    width: 20%;
    padding: .5em ;    
    color: #000000;
    margin:0px;
    
}


.report-table table{
    border-collapse: collapse;   
    
}
.report-table table th,
.report-table table td{
    max-width: 850px;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
    
}

.report-table table thead{
    position: sticky;
    inset-block-start: 0;
}

.search table{
    width: 100%;
    margin: 0px;   
} 
.search table tr th {
    border: none;
    background-color: rgba(113, 70, 70, 0);    
    padding: .5em ;       
    color: #000000;
    margin:0px;
    text-align:left;
}

#title {
    width: 60%;
}


#search-button{
    background-color: #284B63;
    color: white;
    padding: .5em 1em;
    border: none;
    border-radius: 1em;
}

#search-button:hover{
    background-color: #353535;
}

/* admin-application-submit */

#ltr-permit{
    background-color:#284B63;
}
#ltr-permit:hover{
   background-color: #353535; 
}

/* generate permit */


.generate-doc, .inspection-doc{
  background-color:#aaaaaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2em 2em 0 0;
  position:relative;
}

.ltr-content, .inspection-content, .div-content{
 background-color: #ffffff;
 padding: 2em; 
 position:relative;
}


.line{
  top: 20em;
  height: 5px;
  width: 100%;
}
.gov-name{
  display: inline-block;  
  top: 2em !important;
  position: absolute;
 
  
}

.doc-table {
  margin-top: 0em;
}
.doc-table tr th{
  padding-top: 0em;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  font-weight: normal;
}
.doc-table-v2{
  width:100%;
}

.doc-table-v2 tr th{
  padding-top: 0em;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px solid black;
  font-weight: normal;
  font-size: 8px;
  padding:.5em
}

.back{
  padding: .5em 1em; 
  margin:1em;
  background-color:#284B63;
  color:white;
  font-weight:bold;
  border:none;
  border-radius:1em;
  position: absolute;
  z-index:5;
  text-decoration: none;
  
}

.back:hover{
  background-color: #353535;
}

/* add ltr permit */
.blueBtn{
  background-color:#284B63;
}

.redBtn{
  background-color:#E63946;
}

.yellowBtn{
  background-color:#9D8401
}

.greenBtn{
  background-color:#027A00;
}

.bgreenBtn{
  background-color: #3C6E71;
}

.btn{
  padding:.5em 1em;
  margin: .5em;
  border-radius:1em;
  border:none;
  color:white;
  font-weight:bold;
  border-color: none;
}
.btn a{
 text-decoration: none;
 font-weight: bold;
 color: white;
}
.btn:hover{
  background-color:#353535;
}

.link{
  text-decoration:none;
  color:white;
  
}

.permit-details{
  width:90%;
  height:65em;
  background:#D9D9D9;
  padding:2em;
  border-radius: 2em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.personal-div tr td{
  background-color: #35353500;
  border:none;  
  width:5%;  
  padding:.5em;
  font-weight: normal;
}
.personal-div tr td input{
  padding:.5em;
  border-radius:.5em;
  border:none;
  margin:.5em;
}

.butterfly-details-div{
  overflow-y:scroll;
  height:30em;
}

.butterfly-details-div table thead{
  position: sticky;
    inset-block-start: 0;
}

.butterfly-details-table tr td{
  width:10em;
  padding: 1em;
  
  
}

.butterfly-details-table tr td input, .add-butterfly tr td input{
  padding: .5em;
  border-radius: .5em;
  border: none;
  margin-top:1em;
}


.add-butterfly tr td{
  width:20em;
  border:none;  
 
}

.add-butterfly{
  width:60%;
  height:40em;
  background:#D9D9D9;
  padding:5em;
  border-radius: 2em;
  margin:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:#D9D9D9;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height:80%;
  border-radius:2em;

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container{
  margin-top: 2em;
  background-color: #D9D9D9;
  width:70%;
  margin:auto;
  border-radius:2em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.container table td{
  border: none;
  background-color: #ffffff00;
 
}
.details{
  width:80%;
}
.details tr td{
  width:50%;

}