body{
    box-sizing: inherit;
    height: 100%;
    width: 100%;
    margin: 0px;    
}
.right-header{
    z-index: 5;
    margin: 0px;
    width: 200px;
    height: 100vh;
    background-color: #3C6E71;
    position: fixed;    
    text-align: center;
}
.right-header ul { 
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.right-header ul li{
    border-bottom: 3px solid #353535;
    
    padding: .5em;
    margin: 0px;
}
.right-header ul li a {
    text-decoration: none;
    color: white;;
}
.logo{
    max-width: 150px;
    max-height: 150px;      
    margin: auto;
    padding-top: 20px;
    display: block;

}
.right-header ul li:hover {
    background-color: #353535;
}
.admin{
    
    border-top: 3px solid #353535;
}

#admin-icon{
    margin-right: 20px;
}
.top-header{       
    position: absolute;
    top: 0;
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif; 
    width: 75%;       
    top: 0;
}

.penro-logo{
    
    max-width: 100px;
    max-height: 100px;
    float: right;   
}
hr{
    border: 3px solid black;
    margin: 0;
}

.top-header a{
    display: inline-block;
    margin-right: 2em;
    padding: 1em;
    margin: 0em;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.top-header a:hover{
    background-color: #353535;
    border-radius: 0em 0em 1em 1em;
    color: white;
}

/* DROPDOWN */

#dropdown {
    position: relative;
    display: inline-block;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #353535;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 1em;
    z-index: 1;
  }
  
  #dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;    
  }
  
  #dropdown-content a:hover {
    background-color: #3C6E71;
    border-radius: 1em;
    
}

#dropdown:hover #dropdown-content {
  display: block;
}
/* content area */

.content{
   position: absolute;
   padding: 2em;
    top:200px;
    left: 250px;
    width:70%;    
    background-color: rgba(111, 158, 98, 0.463);
    overflow: hidden;    
    font-family: Arial, Helvetica, sans-serif;
}

/* report */

.butterfly,#admin,#report-menu{
    background-color: #353535;    
}

#home,#matrix,#statistics,#butterfly,#application,#profile{
    background-color: #353535;
    border-radius: 0em 0em 1em 1em;
    color: white;
}
.line-dot{
    border: 1px;
}


table {
    border-spacing: 0px;
    margin: auto;
    margin-top: 5%;
    font-family: sans-serif;
    border-radius: 2em;
    
}
table th{
    border: 1px solid #000000;
    padding: 1em;    
    font-weight: bold;
    background-color: #284B63;
    color: white;
    
    
}
table td{
    border: 1px solid #000000;
    padding: 1em;   
    font-weight: bold;
    background-color: #D9D9D9;
    color: black;
    
    
}

.table-div{
    margin: 0;
    margin-bottom: 5em;
    margin-top: 3em;
}
.report-table
{
    margin-bottom: 10em;
    width: 850px;
    height: 400px;
    overflow:scroll;    
    margin: auto;
}

.report form table input,
#search-bar,
.amount{
    background-color: #D9D9D9;
    border: none;
    border-radius: 1em;
    padding: .5em;
    

}
.report form table button{
    padding: 1em 1em;
    border: none;
    border-radius: .5em;
    color: white;
    font-weight: bold;
    background-color: #353535;
    
}
#filter:hover{
    background-color: #9D8401;
    
    
}

#view-doc{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1em;
  background-color:#353535;
  border-radius: 1em;
}



#view-doc:hover{
    background-color: #027A00;
}

.report form table tr th{
    border: none;
    background-color: rgba(113, 70, 70, 0);
    width: 20%;
    padding: .5em ;    
    color: #000000;
    margin:0px;
    
}


.report-table table{
    border-collapse: collapse;   
    
}
.report-table table th,
.report-table table td{
    max-width: 850px;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
    
}

.report-table table thead{
    position: sticky;
    inset-block-start: 0;
}

.search table{
    width: 100%;
    margin: 0px;   
} 
.search table tr th {
    border: none;
    background-color: rgba(113, 70, 70, 0);    
    padding: .5em ;       
    color: #000000;
    margin:0px;
    text-align:left;
}

#title {
    width: 60%;
}


#search-button{
    background-color: #284B63;
    color: white;
    padding: .5em 1em;
    border: none;
    border-radius: 1em;
}

#search-button:hover{
    background-color: #353535;
}

/* admin-application-submit */

#ltr-permit{
    background-color:#284B63;
}
#ltr-permit:hover{
   background-color: #353535; 
}

/* butterfly */

.Add{
    padding: 0.5rem 1rem;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 29px;
    border-radius: 10px;
    background-color:#284B63 ;
    color: aliceblue;
    cursor: pointer;
    margin-left: 10px;
}
.Add:hover {
  background: #353535;
}
/* ::placeholder { 
    color: rgb(180, 174, 174);
  }
input[type=searchs] {
    width: 175px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: sans-serif;
    color: aliceblue;
    background-color: #353535;
    background-image: url('image/icon.png');
    background-position: 11px 13px; 
    background-size: 14%;
    background-repeat: no-repeat;
    padding: 8.5px 30px 8.5px 45px;
   
  } */
  
  /* .Sbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sh {
    margin-right: 10px;
    color: #ccc;
  }
  
  .Add {
    margin-left: 10px;
  }
  .list {
    display: flex;
    position: relative;
    padding-top: 50px;
  } */
  
  /* .line {
    display: block;
    background-color: black;
    margin: 0 auto;
    width: 63%;
    position: absolute;
    left: 36%;
    top: 88px;
  } */
/* The Modal (background) */

/* .modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;

  }
  .modal-content{
  position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%, -50%);
    
  } */
  /* .container1 {
    margin: 100px;
    max-width: 400px;
    width: 100%;
    background: #c2b9b9;
    padding: 30px;
    border-radius: 30px;
  }
  .img-area {
    border: 3px dotted #141313;
    position: relative;
    width: 100%;
    height: 240px;
    background: var(--grey);
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-area .icon {
    font-size: 100px;
  } */
  /* .img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .img-area p {
    color: #999;
  }
  .img-area p span {
    font-weight: 600;
  }
  .img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
  } */
  /* .img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
  } */
  /* .img-area.active:hover::before {
    opacity: 1;
  }
  .up{
    display: flex;
      justify-content: center;
      align-items: center;
  }
  .select-image {
    display: block;
    width: 30%;
    padding: 11px 0;
    border-radius: 10px;
    background: #3C6E71;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
  } */
  /* .select-image:hover {
    background: gray;
  }
.form-control {
      display: block;
      width: 95%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #040404;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d1d3e2;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */
  /* .modal-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 0.75rem;
  }
  
  .btn-secondary, .btn {
    margin: 0.25rem;
      color: #fff;
    border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
    border-radius: 0.35rem;
    cursor: pointer;
    transition: all .3s ease;
  }
  .btn-secondary, .btn:hover {
    background: gray
  }

  /* .btn-secondary {
      background-color: #E63946;
      border-color: none;
    
  }
  /* .close {
    display: none;
   } */

  
  /* The Close Button */
  /* .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  /* .card {
    width: 30%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;
    margin-right: 11px;
  }

  
  .card:last-child {
    margin-right: 0;
  }
  
  .gallery:first-child {
    justify-content: flex-start;
  } */
  
  /* .card img {
    width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  .card p {
    margin-top: 10px;
  }
  
  .card .btn {
    display: inline-block;
    margin-top: 10px;
  } */
  /* .v{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vi{
    display: block;
    width: 30%;
    padding: 11px 0;
    border-radius: 10px;
    background: 
    #353535;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
  } */
  /* .vi:hover {
    background: gray;
  }
  .modal-footer1 {
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

} */

/* .del, .edit {
  font-size: 20px;
  margin: 0.25rem;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.500rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .3s ease;
}
.del:hover, .edit:hover {
  background: gray
}
.edit{
  background-color: #3C6E71;
    border-color: none;
} */
/* .del {
    background-color: #E63946;
    border-color: none;
  
}
.de{
  text-align: justify;
  
}
.ti{
  font-weight: bold;
} */

.editBtn{
  background-color:#284B63;
  border-radius:1em;
  border: none;
  padding:1em;
  margin: 0em;
  color:white;
}

.editBtn:hover{
 background-color: #353535;
 border-radius: 1em;
}

/* generate permit */


.generate-doc, .inspection-doc{
  background-color:#aaaaaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2em 2em 0 0;
  position:relative;
}

.ltr-content, .inspection-content, .div-content{
 background-color: #ffffff;
 padding: 2em; 
 position:relative;
}


.line{
  top: 20em;
  height: 5px;
  width: 100%;
}
.gov-name{
  display: inline-block;  
  top: 2em !important;
  position: absolute;
 
  
}

.doc-table {
  margin-top: 0em;
}
.doc-table tr th{
  padding-top: 0em;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  font-weight: normal;
}
.doc-table-v2{
  width:100%;
}

.doc-table-v2 tr th{
  padding-top: 0em;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px solid black;
  font-weight: normal;
  font-size: 8px;
  padding:.5em
}

.back{
  padding: .5em 1em; 
  margin:1em;
  background-color:#284B63;
  color:white;
  font-weight:bold;
  border:none;
  border-radius:1em;
  position: absolute;
  z-index:5;
  text-decoration: none;
  
}

.back:hover{
  background-color: #353535;
}

/* add ltr permit */
.blueBtn{
  background-color:#284B63;
}

.redBtn{
  background-color:#E63946;
}

.yellowBtn{
  background-color:#9D8401
}

.greenBtn{
  background-color:#027A00;
}

.btn{
  padding:.5em 1em;
  margin: .5em;
  border-radius:1em;
  border:none;
  color:white;
  font-weight:bold;  
  margin-bottom:2em;
  background-color: #3C6E71;
  border-color: none;
}
.btn a{
 text-decoration: none;
 font-weight: bold;
 color: white;
}
.btn:hover{
  background-color:#353535;
}

.permit-details{
  width:90%;
  height:65em;
  background:#D9D9D9;
  padding:2em;
  border-radius: 2em;
}
.personal-div tr td{
  background-color: #35353500;
  border:none;  
  width:5%;  
  padding:.5em;
  font-weight: normal;
}
.personal-div tr td input{
  padding:.5em;
  border-radius:.5em;
  border:none;
  margin:.5em;
}

.butterfly-details-div{
  overflow-y:scroll;
  height:30em;
}

.butterfly-details-div table thead{
  position: sticky;
    inset-block-start: 0;
}

.butterfly-details-table tr td{
  width:10em;
  padding: 1em;
  
  
}

.butterfly-details-table tr td input, .add-butterfly tr td input{
  padding: .5em;
  border-radius: .5em;
  border: none;
  margin-top:1em;
}


.add-butterfly tr td{
  width:20em;
  border:none;  
 
}

.add-butterfly{
  width:60%;
  height:40em;
  background:#D9D9D9;
  padding:5em;
  border-radius: 2em;
  margin:auto;
}

/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* display:flex;
  align-items: center; */
  position: absolute;;
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  top:20;
  border: 1px solid #888;
  width: 80%;
  height:50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
