body{
    box-sizing: inherit;
    height: 100%;
    width: 100%;
    margin: 0px;
}
.right-header{
    z-index: 5;
    margin: 0px;
    width: 200px;
    height: 100vh;
    background-color: #3C6E71;
    position: fixed;    
    text-align: center;
}
.right-header ul { 
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.right-header ul li{
    border-bottom: 3px solid #353535;
    
    padding: .5em;
    margin: 0px;
}
.right-header ul li a {
    text-decoration: none;
    color: white;;
}
.logo{
    max-width: 150px;
    max-height: 150px;      
    margin: auto;
    padding-top: 20px;
    display: block;

}
.right-header ul li:hover {
    background-color: #353535;
}
.admin{
    
    border-top: 3px solid #353535;
}

#admin-icon{
    margin-right: 20px;
}
.top-header{       
    position: absolute;
    top: 0;
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif; 
    width: 75%;
    
    top: 0;
}

.penro-logo{
    
    max-width: 100px;
    max-height: 100px;
    float: right;   
}
hr{
    border: 3px solid black;
    margin: 0;
}

.top-header a{
    display: inline-block;
    margin-right: 2em;
    padding: 1em;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.top-header a:hover{
    background-color: #353535;
    border-radius: 0em 0em 1em 1em;
    color: white;
}

.home{
    background-color:#353535;
    border-radius: 0em 0em 1em 1em;
    color: white;
    
}

/* content area */

.content{
   position: absolute;
   padding: 2em;
    top:200px;
    left: 250px;
    width:70%;    
    background-color: rgba(111, 158, 98, 0.463);
    overflow: hidden;
}
table {
    border-spacing: 0px;
    margin: auto;
    margin-top: 10%;
    font-family: sans-serif;
    border-radius: 2em;
    
}
table th{
    border: 1px solid #000000;
    padding: 1em;
    width: 20%;
    font-weight: bold;
    background-color: #284B63;
    color: white;
    
    
}
table td{
    border: 1px solid #000000;
    padding: 1em;
    width: 20%;
    font-weight: bold;
    background-color: #D9D9D9;
    color: black;
    
    
}

